

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /*display: grid;*/
    font-family: 'IBM Plex Sans', sans-serif;    
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Adjust the number of columns based on your layout */
    background-color: #121212; /* Set the background color of the body */
    position: relative;
}


/*
*
*
*
*
*** Fonts
*
*
*/
h1, h2, h3, h4 {
    font-weight: 400;
    color: #fff;
}

h5 {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.5;
    font-weight: normal;
    color: rgb(214, 214, 214);
    text-transform: uppercase;
}

p {
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.1px;
}

a {
    color: #fff;
    text-decoration: underline;
}

img {
    width: 100%;
    background-color: #000;
}

/*
*
*
*
*
*** Top Nav
*
*
*/

.topnav {
    grid-column: span 8;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #121212;
    border-bottom: 1px solid #1e1e1e;
}

.topnav .icon {
    display: none;
}

.topnav #name {
    font-weight: 700;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 1;
}

.menu-links {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    float: right;
}

.menu-links a {
    color: #c9c9c9;
    font-weight: 400;
    transition: 0.15s;
}

.menu-links a:hover {
        /*color: #333333;*/
        color: #fff;
}

.menu-links #active {
        /*color: #333333;*/
        color: #fff;
}


/*
**
*/

/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    height: 100%;
    opacity: 0;
    margin-top: 200%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 60px;
    background-color: #121212;
    /* Black fallback color */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.35s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.open {
    margin-top: 0;
    opacity: 1;
}

.bar1, .bar3 {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(2px, 7px);
    transform: rotate(-45deg) translate(2px, 7px);
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(0px, -8px);
    transform: rotate(45deg) translate(0px, -8px);
}

/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
}

/* The navigation links inside the overlay */

.overlay a {
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    float: none;
    padding: 16px;
}

/* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
    color: #fff;
}

/* Position the close button (top right corner) */

.topnav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

/*
*
*
*
*
*** Right Side for Index page
*
*
*/

.main, .text {
    grid-column: span 8;
    margin: 0 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 0px;
    row-gap: 52px; 
}

.projects {
    display: grid;
    animation: slidein .55s both;
    animation-delay: 0.15s;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(70px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*
*
*
*
*
*** Projects
*
*
*/

.project-tile {
    transition: ease-in-out 0.2s;
    text-decoration: none;
}

.project-img {
    overflow: hidden;
    background-color: #000;
    /*
    *** https://cssgradient.io
    */
}

.project-img img {
    grid-column: 1/-1;
    width: 100%;
    border-radius: 0.25em;
    transition: transform .4s;
}

.project-img img:hover {
    transform: scale(1.02);
}

/*
*
*
*
*
*** Selection Styles
*
*
*/

::selection {
    background: white;
    color: black;
}

@media screen and (min-width: 900px) {


   /*
    *** background lines
    */
    body::before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 1200px;
        z-index: -1;
        pointer-events: none;
        background: linear-gradient(to right, #1e1e1e 1px, transparent 1px);
        background-size: calc((100% - 1px)/ 8) 100%; /* Calculate the width of one column based on the number of columns */
        margin: 0 40px;
        top: 0;
        animation: slideDown 2s ease-out forwards; /* Animation for sliding down */
        animation-delay: 0.15s; /* Delay the animation to start after 1 second */
    }

    @keyframes slideDown {
        to{
            bottom: 0;
        }
    }


    /*
    *** 900 + Screensize
    */
 
    .topnav {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .topnav a, .topnav .icon {
        padding: 24px 40px;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 0px;
        row-gap: 52px;
        margin: 0 40px;
    }

    .text-intro {
        grid-column: 1 / span 5;
    }

    .about-me {
        grid-column: 6 / span 3;
    }

    .projects {
        grid-column: 1 / span 8;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 0px;
        row-gap: 48px;
    }

    .project-tile {
        grid-column: span 4;
    }

    .project-img {
        margin: 2px;
    }

    /*
    *** Inside Pages
    */
    .project-title {
        grid-column: span 8;
        margin: 24px 0 16px 0;
    }

    .quote {
        grid-column: span 6;
        margin: 32px 0 0 0;
    }

    .small-info {
        grid-column: span 4;
        margin: 36px 0 36px 0;
    }

    .img-full {
        grid-column: span 8;
        /*height: 700px;
        background-color: #c9c9c9;*/
    }

    .gif-full {
        grid-column: span 8;
    }

    .video-full {
        grid-column: span 8;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .img-half {
        grid-column: span 4;
        /*height: 700px;
        background-color: #c9c9c9;*/
    }

    .text {
        grid-column: span 8;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 0px;
        row-gap: 24px;
        margin: 96px 0 0 0;
    }

    .text-heading {
        grid-column: 1 / span 3;
    }

    .text-body {
        grid-column: 5 / span 4;
    }

    footer {
        grid-column: 1 / span 8;
        padding: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 128px;
        position: relative;
    }
    #abs-footer {
        position: absolute;
    }

    /*
    *** Fonts
    */
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 34px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 14px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 899px) {


       /*
    *** background lines
    */
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 800px;
        z-index: -1;
        pointer-events: none;
        background: linear-gradient(to right, #1e1e1e 1px, transparent 1px);
        background-size: calc((100% - 1px)/ 4) 100%; /* Calculate the width of one column based on the number of columns */
        margin: 0 20px;
        animation: slideDown 2s ease-out forwards; /* Animation for sliding down */
        animation-delay: 0.15s; /* Delay the animation to start after 1 second */
    }

    @keyframes slideDown {
        to{
            bottom: 0;
        }
    }

    /*
    *** < 800px Screensize
    */
    body {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
    }

    /*
    *** Nav bar
    */
    .topnav {
        grid-column: 1 / span 4;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 0;
        font-size: 20px;
    }

    .topnav #name, .topnav .icon {
        padding: 20px;
    }

    .menu-links {
        float: none;
    }

    .menu-links a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: none;
    }

    /*
    *** Home Page
    */
    .text-intro {
        margin: 32px 0;
    }

    .text-intro, .projects, .project-tile, .about-me {
        grid-column: 1 / span 4;
    }

    .projects {
        row-gap: 48px;
    }

    .main {
        grid-column: span 4;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
        row-gap: 40px;
        margin: 0 20px;
    }

    /*
    *** Inside Pages
    */
    .text {
        grid-column: span 4;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
        row-gap: 16px;
        margin: 40px 0 0 0;
    }

    .text-heading, .text-body {
        grid-column: span 4;
    }

    .project-title {
        grid-column: span 4;
        margin: 48px 0;
    }

    .quote {
        grid-column: span 4;
        margin: 32px 0;
    }

    .small-info {
        grid-column: span 4;
    }

    .img-full {
        grid-column: span 4;
    }

    .gif-full {
        grid-column: span 4;
    }

    .img-half {
        grid-column: span 4;
    }

    .video-full {
        grid-column: span 4;
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .responsive-iframe {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    /*
    *** Fonts
    */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h5 {

        font-size: 12px;
    }

    h4, p {
        font-size: 16px;
    }

    p {
        line-height: 1.5;
    }

    footer {
        grid-column: 1 / span 4;
        padding: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 64px;
    }
    #abs-footer {
        position: absolute;
    }
}
