body {
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    background-color: #131313;
    background-image: linear-gradient(90deg, #0c0c0c, #161616);
    /* Set your preferred background color */
    /* Add a 40px top border with transparent color */
    color: #efefef;
}



a {
    color: #fff;
}


/*
*
*
*
*
*** Top Nav
*
*
*/
.topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 2000;
    background-color: #131313;
    box-sizing: border-box;
    align-items: center;
    padding: 8px 48px;

}



.home-nav {
    border-bottom: none;
}

.topnav .icon {
    display: none;
}

.topnav #name {
    font-weight: 400;
}


.fade {
    background-color: #413547;
}

.fade a,
.fade .caption {
    color: #fff !important;
}

.fade .bar1,
.fade .bar3 {
    background-color: #fff;
}

.fade .footer {

    border: none;
}

.topnav a {
    font-family: 'Inter', sans-serif;
    float: left;
    display: block;
    text-align: left;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    text-decoration: none;
}

.menu-links a {
    padding: 8px 0px 8px 40px;
}

.menu-links a:hover {
    /*color: #333333;*/
    text-decoration: underline;
}

/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    opacity: 0;
    margin-top: 200%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 47px;
    background-color: #413547;
    /* Black fallback color */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.35s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


.open {
    margin-top: 0;
    opacity: 1;
}

.bar1,
.bar3 {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(2px, 7px);
    transform: rotate(-45deg) translate(2px, 7px);
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(0px, -8px);
    transform: rotate(45deg) translate(0px, -8px);
}

/* Position the content inside the overlay */

.overlay-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: left;
    /* Centered text/links */
}

/* The navigation links inside the overlay */

.overlay a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 32px;
    color: #1b1b1b;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    padding: 16px;
}

/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
    text-decoration: underline;
}

/* Position the close button (top right corner) */

.topnav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}


/*-----*/




#temp {
    margin-top: 0;
}






/*
*
*
*
*
*** Project styles
*
*
*/


#tldr {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 12px;
}

#testing-chart {
    margin: 24px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.column {
    grid-column: span 1;
    text-align: center;
}

.double-column {
    grid-column: span 2;
}

.large-column {
    grid-column: span 4;
}



hr {
    border: 0.25px solid #9a9a9a;
}

.card-container {
    margin: 48px 0 64px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.card-container img {
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}

.card-container .item {
    width: 46%;
    height: auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    /* Allow columns to wrap to the next row on smaller screens */
    justify-content: space-between;
    padding: 0;
    overflow-x: hidden;
    /* Set padding to zero for mobile */
}

.middle-column {
    width: 100%;
    /* Full width on mobile */
    margin-bottom: 64px;
    /* Add spacing between divs */
    position: relative;
}

.right-column {
    width: 100%;
    /* Full width on mobile */
}

.left-column {
    width: 100%;
    /* Full width on mobile */
}

.right-column-item {
    margin-bottom: 24px;
    /* Add 24px spacing between items in the right column */
}

.left-column-item {
    margin-bottom: 24px;
    position: sticky;
    /* Add 24px spacing between items in the right column */
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 17px;
    flex-wrap: wrap;
}


.divider-sm {
    margin: 40px 0px 64px 0px;
    /* Add spacing between text-sections */
}

.small-image {
    width: 40%;
    position: relative;
    /* Set positioning to relative to allow for overlap */
    left: 30%;
    /* Adjust the position to slightly overlap into the left column */
    margin-right: 30%;
    border-radius: 32px;
}

.marketing-image {
    margin: 48px 0px;
    width: 160%;
    /* Expand the image to 130% of the width of its containing block */
    height: auto;
    /* Maintain aspect ratio */
    position: relative;
    /* Set positioning to relative to allow for overlap */
    left: -30%;
    /* Adjust the position to slightly overlap into the left column */
    margin-right: -30%;
    /* Adjust the position to slightly overlap into the right column */
    z-index: 1;
}



.img-section img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: block;
}

.header-img-section img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: block;
}

.header-img-section {
    position: relative;
    overflow: hidden;
}

.styled-bg {
    overflow: hidden;

}

#graph {
    background-color: #eee;
    padding: 12px;

}

img {
    width: 100%;
    height: auto;
}

.img-section {
    margin: 36px 0 48px 0;
    border-radius: 5px;
    overflow: hidden;
    /* Add spacing between text-sections */
}

.expand-image {
    width: 160%;
    /* Expand the image to 130% of the width of its containing block */
    height: auto;
    /* Maintain aspect ratio */
    /*position: relative;*/
    /* Set positioning to relative to allow for overlap */
    left: -30%;
    /* Adjust the position to slightly overlap into the left column */
    margin-right: -30%;
    /* Adjust the position to slightly overlap into the right column */
    z-index: 1;
    /* Ensure the image appears above other content */
}

/*-----*/




/*
*
*
*
*
*** Homepage cards
*
*
*/



@keyframes flash {
    from {
        opacity: 0;
        /* Start with opacity 0 */
    }

    to {
        opacity: 1;
        /* End with opacity 1 */
    }
}


.info-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.info-card-container .info-card {
    border: .25px solid #777;
    border-radius: 5px;
}

#stats {
    padding: 32px 16px;
}

#information {
    padding: 12px 16px 24px 16px;
}



.grey {
    background-color: #333333;
}


#img-bottom-cutoff {
    padding: 12px 12px 0 12px;
}

#edgetoedge-img {
    padding: 0px 12px;
}

#full-img {
    padding: 12px 12px 12px 12px;
}

.border {
    border: .25px solid #777;
}




.project-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 17px;
    flex-wrap: wrap;
    margin-top: 48px;
}


.project-card {
    border-radius: 4px;
    overflow: hidden;
    /* Adjust as needed */
    height: 500px;
    /* Adjust as needed */
    position: relative;
    /* Required for positioning absolute elements */
}

.project-card-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-size: cover;
    /* Zoom and crop the image */
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
    /* Add transition for smooth effect */

}

.project-card:hover .project-card-image {
    width: 105%;
    /* Zoom in effect on hover */
    height: 105%;
}

.project-card-text-top {
    font-family: "Space Mono", monospace;
    text-transform: uppercase;

    left: 12px;
    right: 12px;
    position: absolute;
    width: auto;
    text-align: left;
    color: white;
    /* Adjust text color as needed */
    z-index: 1;
    /* Ensure text appears above the image */
}

.project-card-text-bottom {
    font-family: "Inter";
    font-weight: 400;
    left: 12px;
    right: 12px;
    position: absolute;
    width: auto;
    text-align: left;
    color: white;
    /* Adjust text color as needed */
    z-index: 1;
    /* Ensure text appears above the image */
}





#light-card {
    color: #1b1b1b;
}

.project-card-text-top {
    top: 16px;
    font-size: 16px;
    /* Adjust as needed for background color and opacity */
}

.project-card-text-bottom {
    bottom: 16px;
    font-size: 20px;
    /* Adjust as needed for background color and opacity */
}


.home-footer {
    width: 100%;
    padding: 36px 0;
}

/*-------*/



/*
*
*
*
*
*** Footer
*
*
*/

.footer {
    padding: 24px 16px;
    width: 100%;
    box-sizing: border-box;
    bottom: 48px;
    position: absolute;
    border-top: 1px solid #d4d4d4;

}












/*
*
*
*
*
*** Text
*
*
*/

.h4 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    padding: 0 0 4px 0;
}

.h3 {
    font-weight: 600;
}

p {
    /* Set font size to 24px */
    font-weight: 300;
    /* Set font weight to regular */
    margin: 0;
    /* Remove margin */
    padding: 0;
    /* Remove padding */
}


.homepage-header {
    font-family: 'Georgia', serif;
    font-weight: 400;
    line-height: 1.4;
    width: 100%;
}


.homepage-h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    width: 100%;
}

.heading,
.img-heading,
.h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

.sub-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 1.3;
}

.title-section {
    margin: 32px 0 48px 0;
    /* Add spacing between text-sections */
}

.text-section {
    margin: 128px 0 80px 0;
    /* Add spacing between text-sections */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.text-section.visible {
    opacity: 1;
    transform: translateY(0);
}



.highlight {
    background-color: yellow;
    /* Set the highlight background color */
    padding: 2px;
    /* Adjust padding as needed */
}


.resume-heading {
    display: flex;
    align-items: center;
}

.tab-svg {
    width: 16px;
    /* Set the width of your SVG icon */
    height: 16px;
    /* Set the height of your SVG icon */
    margin-left: 4px;
    /* Adjust margin as needed */
}



/* Ellipsis animation */
.ellipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis 1.5s infinite;
}

@keyframes ellipsis {

    0%,
    100% {
        width: 0;
    }

    25% {
        width: 0.75em;
    }

    50% {
        width: 1.4em;
    }

    75% {
        width: 2.2em;
    }
}

@media (min-width: 968px) {

    .img-section {
        width: 100%;
        box-sizing: border-box;
    }

    .header-img-section {
        width: 100%;
        top: 48px;
        height: 550px;
    }

    .header-img-section img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .two-up {
        width: 44%;
    }

    .three-up {
        width: 28%;
    }

    .main {
        padding: 64px 32px 24px 32px;
        margin: 0 16px;
        /* Adjust padding for desktop */
    }

    .dot {
        width: 8px;
        height: 8px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        animation: flash 0.5s infinite alternate;
        /* Alternate the animation direction */
    }


    .callout-desktop {
        background-color: #1e1e1e;
        border-radius: 50px;
        color: white !important;
        font-size: 18px;
        padding: 4px 12px;
        display: inline-flex !important;
        align-items: center;
        gap: 8px;
    }

    a.callout-mobile {
        display: none !important;
    }

    .image-container img {
        width: 31%;
        height: auto;
    }


    .project-card {
        width: 32%;
        /* Adjust as needed */
        height: 500px;
    }

    .homepage-header {
        font-size: 57px;
    }

    .homepage-h2 {
        font-size: 28px;
        padding: 24px 0 12px 0;
    }

    .header-container {
        padding-bottom: 12px;
    }

    .heading {
        font-size: 28px;
    }

    .h3 {
        font-size: 20px;
        padding: 4px 0;
    }

    .h4 {
        font-size: 14px;
    }


    .img-heading {
        font-size: 20px;
    }

    .sub-heading {
        font-size: 18px;
        padding-top: 8px;
    }

    .quote {
        font-size: 36px;
    }

    .info-card .quote {
        font-size: 32px;
    }

    .title {
        font-size: 48px;
        font-weight: 500;
    }

    .sticky-section {
        position: sticky;
        order: 1;
    }

    .left-column {
        width: calc(20%);
        /* Adjust width and consider padding */
    }

    .middle-column {
        width: calc(60% - 64px);
        /* Adjust width and consider padding */
        margin-right: 64px;
        /* Add spacing between columns on desktop */
        max-width: 900px;
    }

    .right-column {
        width: calc(20% - 64px);
        /* Adjust width and consider padding */
    }

    body {
        font-size: 16px;

        /* Move the top border inside the body for desktop */
    }

}

@media (max-width: 967px) {


    .marketing-image {
        width: 100%;
        left: 0;

    }

    #empty-spot {
        display: none;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .card-container .item {
        width: 100%;
        height: auto;
    }

    .info-card-container {
        flex-direction: column;
    }

    .info-card {
        margin: 8px 0;
    }

    body {
        font-size: 16px;
    }

    .header-container {
        padding-bottom: 12px;
    }

    .dot {
        width: 6px;
        height: 6px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        animation: flash 0.5s infinite alternate;
        /* Alternate the animation direction */
    }

    .callout-mobile {
        background-color: #1e1e1e;
        border-radius: 50px;
        color: white !important;
        font-size: 14px;

        padding: 4px 6px;
        display: inline-flex !important;
        align-items: center;
        gap: 4px;
        text-decoration: none;
    }


    a.callout-desktop {
        display: none !important;
    }

    .project-section {
        flex-direction: column;
    }


    .project-card {
        width: 100%;
    }


    .topnav {
        grid-column: 1 / span 4;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 0;
        padding: 12px 16px;
    }

    .topnav #name,
    .topnav .icon {
        padding: 0;
    }


    .menu-links a {
        display: none;
    }

    .topnav a.icon {
        display: block;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        border-bottom: none;
    }

    .text-section {
        margin: 64px 0;
    }


    .image-container {
        width: 100%;
        /* Set width to 100% for smaller screens */
        margin: 12px 0 0 0;
        /* Remove negative margin */
        flex-direction: column;
        /* Stack images on top of each other */
    }

    .img-section {
        margin: 24px 0 40px 0;
        box-sizing: border-box;
    }

    .header-img-section {
        top: 40px;
    }

    .expand-image {
        width: 100%;
        /* Reset width to 100% for mobile screens */
        left: 0;
        /* Reset left position */
        margin-right: 0;
        /* Reset right margin */
    }


    .divider-sm {
        width: 100%;
        /* Reset width to 100% for mobile screens */
        left: 0;
        /* Reset left position */
        margin-right: 0;
    }



    .quote {
        font-size: 32px;
    }

    .info-card .quote {
        font-size: 32px;
    }


    .homepage-header {
        font-size: 36px;
    }

    .homepage-h2 {
        font-size: 20px;
        padding: 24px 0;

    }

    .heading {
        font-size: 24px;
    }

    .sub-heading,
    .img-heading {
        font-size: 18px;
        padding-top: 8px;
    }

    .h3 {
        font-size: 18px;
    }

    .h4 {
        font-size: 12px;
        margin-top: 8px;
    }

    .title {
        font-size: 32px;
        font-weight: 500;
    }

    .main {
        margin: 0 16px;
        padding-top: 64px;
        /* Reverse the order of columns for mobile */
    }

    .left-column {
        display: none;
    }

    .right-column {
        width: 100%;
        order: 2;
    }


}